*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

body{
    background-color: #83a7aa;
    display: flex;
    justify-content: center;
    align-items: center;
}

#card{
    height: 500px;
    width: 360px;
    background-color: white;
    border-radius: 12px;
    padding: 30px;
    text-align: center;
    box-shadow: 5px 5px 12px #000000;
}
#card img{
    width: 100%;
    height: 56%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    border: 1px solid cadetblue;
}
#card h1{
    font-size: 40px;
    margin: 10px 0;
    font-weight: 700;
}

h5{
    font-size: 30px;
    color: red;
    margin: 12px;
}

#card button{
    padding: 12px 20px ;
    border-radius: 7px;
    border: none;
    background-color: cadetblue;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    margin: 5px;
}

#card #remove{
    color: #111;
    background-color: #dadada;
}