*{
    margin: 0;
    padding: 0;
    font-family: "Patrick Hand", cursive;
    box-sizing: border-box;
    user-select: none;
}

.container{
    background-image:url(images/paperBackGround.jpg);
    width: 100%;
    height: 100vh;
    padding: 10px;
}

.todo-app{
    width: 100%;
    max-width: 540px;
    background-color:rgba(151, 149, 145, 0.5);
    margin: 100px auto 20px ;
    padding: 40px 30px 70px;
    border-radius: 10px;
    border: 1px solid black;

}
.todo-app h2{
    color: #002765 ;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app h2 img{
    width: 30px;
    margin-left: 10px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 30px;
    margin-bottom: 25px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    padding: 10px;
    background: transparent;
    font-weight: 14px;
    font-size: 20px;

}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #FF6C0C;
    color: #1B211A;
    font-size: 20px;
    cursor: pointer;
    border-radius: 40px;

}

ul li{
    list-style: none;
    font-size: 25px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    bottom: 15px;
    left: 8px;
}

.checked{
    color: #555;
    text-decoration: line-through;

}

.checked::before{
    background-image: url(images/checked.png);
}

span{
    position: absolute;
    right: 0;
    top: 16px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    font-size: 40px;
    color: #555;
    line-height: 40px;
    text-align: center;
}

span:hover{
    background-color: #edeef0;
}