i{
    color: orangered;
}
h1 span{
    color:goldenrod;
}
#pets{
    /* display: flex; */
    justify-content: space-evenly;
    display: flex;
    height: 96%;
}
.card{
    
    width: 35%;
    border: 3px solid black;
    border-radius: 50px;
    /* margin-right: 50px; */

    
}
img{
    width: 94%;
    border-radius: 50px;
    padding-left: 3%;
    padding-top: 3%
}

p{
    font-size: 23px;
    font-family:sans-serif;
    padding-left: 3%;
    padding-right: 3%;
}

h3{
    font-size: 1.5em;
    padding-left: 3%;
}

h4{
    padding-left: 30px;
    font-size: 20px;
}


