*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    height: 100%;
    background-color: #dedede;
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows:26% 56% 18%;

}

#elem1{

    padding: 40px;
}
#elem2{
    justify-self: end;
    text-align: right;
    padding: 40px;
    width: 100%;

}

#elem2 h4{
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: 500;
}
#elem2 h5{
    color: #333;
    font-size: 18px;
    font-weight: 500;
}

#elem2 h6{
    display: none;
}

#elem3{

    grid-column: 1/3;
    padding: 40px;
    
}

#elem3 h1{
    font-size: 6.5vw;
    text-transform: uppercase;
    line-height: 6vw;
    font-weight: 360;
    font-family: Arial, Helvetica, sans-serif;
}
#elem3 h1:nth-child(2n){
    text-align: center;
}


#elem5{

    grid-column: 1/3;
    grid-row: 3;
    padding: 40px;
}
#elem5 p{
    width: 50%;
    font-size: 18px;
    font-weight: 500;
    color: #666;
}

#square{
    background-color: black;
    width: 16px;
    height: 16px;
    rotate: 45deg;
} 



#elem4{
    grid-column: 3/4;
    grid-row: 1/4;
    padding: 40px;
    padding-right: 150px;
}
#elem4 video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

#arrow{
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: orangered;
    top: 47%;
    left: 49%;
    border-radius: 50px;
    justify-self: center;
    align-self: center;
    padding: 28px;
}

#arrow i{
    font-size: 40px;
    color: #fff;
    font-weight: 100;
}

@media (max-width: 600px){
    #main{
    grid-template-columns:50% 50%;
    grid-template-rows:60px 34% 8%;
}

#elem4{
    grid-column: 1/3;
    grid-row: 4;
    padding: 20px;
}
#elem1{
    padding: 20px;
}
#elem2{
    justify-self: end;
    text-align: right;
    padding: 20px;
    width: 100%;

}

#elem2 h4{
    display: none;
}
#elem2 h5{
    display: none;
}

#elem3{
    padding: 10px 20px;
}

#elem3 h1{
    font-size: 17vw;
    line-height: 15vw;
}
#elem3 h1:nth-child(2n){
    text-align: right;
}


#elem5{
    padding: 10px 20px;
}
#elem5 p{
    width: 85%;
    font-size: 13px;
    font-weight: 500;
    color: #666;
}

#square{
    width: 12px;
    height: 12px;
} 


#elem4 video{
    height: 48vh;

}

#arrow{
    height: 50px;
    width: 50px;
    top: 48.5%;
    left: 46%;
    rotate: 90deg;
    padding: 10px;
}

#arrow i{
    font-size: 30px;
}

#elem2 h6{
    display: initial;
    font-size: 20px;
}

}


