*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    user-select: none;
}

html,body{
    height: 100%;
    width: 100%;
}

#nav{
    width: 100%;
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
}
#nav-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2px
    

}
#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:40px
}

#nav-part2 i{
    display: none;
}

#nav-part2 h4{
    font-size: 16px;
    font-weight: 600;
    color: rgb(75, 74, 74);
}

#nav-part2 h4 span{
    margin-left: 25px;
    color: rgb(163, 163, 163);
}

.gola{
    display: flex;
    height: 22px;
    width: 22px;
    border-radius: 50px;
    background-color: black;
}

#nav2{

    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    gap: 100px;
    padding: 0px 40px;
}

#nav2 h4{
    color: rgb(68, 68, 68);
    font-size: 18px;
    font-weight: 500px;
    text-transform: uppercase;
}

#content{
    /*?*/
    height: calc(100vh - 150px); 
    width: 100%;
}
#text-content{
    height: 40%;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto; 
}
#text-content::-webkit-scrollbar{
    /* display: none; */
    background-color: transparent;
    height: 10px;
    
}
#text-content::-webkit-scrollbar-thumb{
    background-color: orangered;
}
/* 
flex width ko srink kar deta hai */

#element{
    flex-shrink: 0;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sn{
    position: relative;
    top: -25%;
    left: 77.5px;
    display: flex;
    flex: 0;
    justify-self: center;
    align-self: center;
    gap:100px;
}
#sn h3{
    font-weight: 700;
    font-size: 22px;
}
#sn h4{
font-weight: 500;
color: gray;
}

#element h1{
    font-size: 130px;
    font-weight: 300;
}

#image-content{
    height: 60%;
    width: 100%;
    display: flex;
    overflow-x: auto;
}
#image-content::-webkit-scrollbar{
    display: none;
}

#image-content img{
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media(max-width:1400px){
#element{
    width: 50%;
    margin-right: 50px;
}

#sn{
    top: -25%;
    left: 75px;
    display: flex;
    flex: 0;
    justify-self: center;
    align-self: center;
    gap:80px;
}

#element h1{
    font-size: 120px;
}
}
@media(max-width:1200px){

#nav-part2{
    gap:20px;
}

#nav-part2 h4{
    font-size: 15px;
}

#nav-part2 h4 span{
    margin-left: 23px;
}

    #nav2{
    overflow-x: auto;
}
#nav2::-webkit-scrollbar{
    display: none;
}

#element{
    width: 60%;
    margin-right: 100px;
}

#sn{
    top: -25%;
    left: 75px;
    display: flex;
    flex: 0;
    justify-self: center;
    align-self: center;
    gap:80px;
}

#element h1{
    font-size: 100px;
}
}
@media(max-width:600px){

#nav{

    height: 70px;
    padding: 0px 25px;
}
#nav-part1{
    gap:0px;
}
#nav-part2{
    gap:30px;
}
/* #nav-part2 h4:nth-child(1){} */
#nav-part2 h4{
    display: none;
}
#nav-part2 #h4{
    display: initial;
    font-size: 14px;
}
#nav-part2 i{
    display: initial;
    font-size:20px;
    font-weight: 700;
}


#nav-part2 h4 span{
    margin-left: 10px;

}

.gola{
    height: 18px;
    width: 18px;
}

#nav2{
    height: 50px;
    padding: 0 15px;
    gap: 4%;
    overflow-x: auto;
}
#nav2::-webkit-scrollbar{
    display: none;
}

#nav2 h4{
    font-size: 13.5px;
    font-weight: 500px
}

#content{
    /*?*/
    height: calc(100vh - 100px);
}
#text-content{
    height: 40%;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto; 
}
#text-content::-webkit-scrollbar{
    /* display: none; */
    background-color: transparent;
    height: 8px;
    
}

#element{
    flex-shrink: 0;
    height: 100%;
    width:70%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 70px;
}

#sn{
    top: -25%;
    left: 60px;
    gap:40px;
}
#sn h3{
    font-size: 17.5px;
}
#sn h4{
font-size: 13px;
}

#element h1{
    font-size:80px;
}

#image-content{
    height: 60%;
    width: 100%;
    display: flex;
    overflow-x: auto;
}
#image-content img:nth-child(3){
    object-position: left;
}
}