*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}
#content{
    height: calc(100% - 150px);
    width: 100%;
    background-color: red;
}
#nav{
    width: 100%;
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
}
#nav-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2px
    

}
#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:40px
}

#nav-part2 h4{
    font-size: 16px;
    font-weight: 600;
    color: rgb(34, 34, 34);
}

#nav-part2 h4 span{
    margin-left: 25px;
    color: rgb(122, 121, 121);
}

.gola{
    display: flex;
    height: 22px;
    width: 22px;
    border-radius: 50px;
    background-color: black;
}

#nav2{

    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    gap: 100px;
    padding: 0px 40px;
}

#nav2 h4{
    color: rgb(36, 36, 36);
    font-size: 18px;
    font-weight: 500px;
    text-transform: uppercase;
}

#content{
    height: calc(100vh - 150px);
    width: 100%;
    background-color: red;
}
